.section__cart--page {
    margin: 15rem auto 10rem auto;
    max-width: 114rem;
    
    display: flex;
}

.cart-main {
    flex: 0 1 65%;
    margin-right: 3rem;
}

.section__cart--page table {
    width: 100%;
    border-collapse: collapse;
}

.section__cart--page thead {
    margin: 10rem;
}

.section__cart--page thead tr {
    border-bottom: 2px solid rgba(153, 153, 153, 0.313);
}

.section__cart--page tbody tr {
    border-bottom: 1px solid rgba(153, 153, 153, 0.39);
}

.section__cart--page th {
    font-size: 1.7rem;
    font-weight: 500;
    text-transform: uppercase;
    color: #2d2a2a;
}

.section__cart--page th,
.section__cart--page td {
    padding: 1.8rem 1.5rem;
    text-align: left;
}

/* --- cart-tab-list  --- */
.cart-tab-list {
    list-style: none;
    display: none;
}

/* ------- coupon  ------ */

.coupon-box {
    margin-top: 3rem;
}

.coupon-box input {
    border: none;
    border: 2px solid rgba(51, 51, 51, 0.345);
    padding: 1rem 2rem;
    display: inline-block;
    margin-right: 1rem;
}
.coupon-box input:focus {
    outline: none;
}
.coupon-box input::-webkit-input-placeholder {
    font-family: 'Poppins', sans-serif;
}

.coupon-box button {
    border: 2px solid var(--color-primary);
    padding: 1rem 2rem;
    background-color: var(--color-primary);
    text-transform: uppercase;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    font-size: 1.4rem;
}


@media only screen and (max-width: 1200px) {
    .section__cart--page {
        padding: 0 2rem;
    }
}

@media only screen and (max-width: 1000px) {
    .section__cart--page {
        display: block;
    }
}

@media only screen and (max-width: 800px) {

    .section__cart--page {
        margin: 12rem auto 10rem auto;
    }

    .cart-main {
        margin-right: 0;
    }

    .cart-main table {
        display: none;
    }

    .cart-tab-list {
        display: block;
    }
}

@media only screen and (max-width: 500px) {

    .coupon-box {
        padding: 3rem 2rem;
        border: 2px dashed rgba(119, 119, 119, 0.257);
    }

    .coupon-box input {
        width: 100%;
        display: block;
        margin-bottom: 1rem;
        padding: 1.1rem 2rem;
        border: 2px solid rgba(118, 118, 118, 0.186);
    }

    .coupon-box button {
        width: 100%;
        display: block;
        font-size: 1.3rem;
        padding: 1.2rem 0;
    }
}
