.item-view {
    margin: 12rem auto 7rem auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 4rem;
}


.item-view img {
    width: 100%;
}

.view-box {
    padding: 2.5rem 0;
}

.item-view h2 {
    font-size: 3rem;
    color: #2D2A2A;
    font-weight: 600;
    margin-bottom: .5rem;

}

.item-view .price {
    font-size: 2.3rem;
    color: var(--color-primary);
    font-weight: 500;
    margin-bottom: 3rem;
}

/* ---------------------------------------- */
.cart-handler {
    display: flex;
}

.counter {
    border: 2px solid #99999950;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1.5rem;
    height: 4.2rem;
    width: 10.2rem;
}

.counter button {
    border: none;
    cursor: pointer;
    background: none;
}

.counter .dec {
    font-size: 1.5rem;
    border-right: 2px solid #99999950;
    color: #666;
    height: 100%;
    width: 2.5rem;
}

.counter .inc {
    font-size: 1.5rem;
    border-left: 2px solid #99999950;
    color: #666;
    height: 100%;
    width: 2.5rem;
}

.counter .quantity {
    font-size: 1.35rem;
    /* padding: 0 2.2rem; */
    color: #666;
    flex: 1;

    display: flex;
    justify-content: center;
}

.cart-btn {
    background-color: var(--color-primary);
    border: none;
    height: 4.3rem;
    width: 13rem;
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #fff;
    border: none;
    cursor: pointer;
}

.cart-btn:focus {
    outline: none;
}

/* -------------------------------- */
.wishlist-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;

    margin-top: 2.2rem;
}

.spinner {
    position: relative;
    margin-right: 1.5rem;
    margin-left: 1rem;
}

.wishlist-btn:hover svg {
    fill: var(--color-primary);
}

.wishlist-btn:hover .span-text {
    color: var(--color-primary);
}

.wishlist-icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-secondary);
    margin-right: 1.5rem;
}

.span-text {
    font-size: 1.5rem;
    color: var(--color-secondary);
}

@media only screen and (max-width: 1200px) {
    .product-view {
        grid-column-gap: 2rem;
        padding: 2rem;
    }

    .product-view h2 {
        font-size: 2.8rem;
        margin-bottom: .2rem;

    }
}

@media only screen and (max-width: 800px) {
    .product-view {
        grid-row-gap: 2rem;
    }

    .img-box {
        padding: 3rem;
        grid-column: 1 / -1;
    }

    .view-box {
        grid-column: 1 / -1;
    }

    .product-view .price {
        font-size: 1.9rem;
        margin-bottom: 2rem;
    }

    .product-view h2 {
        font-size: 2.5rem;
        margin-bottom: .2rem;

    }
}

@media only screen and (max-width: 600px) {

    .img-box {
        padding: 0;
    }

    .view-box {
        padding: 0;
    }

    .product-view h2 {
        font-size: 2.3rem;
        margin-bottom: .2rem;
    }

    .product-view .price {
        font-size: 1.8rem;
    }
}