.hero {
    padding: 4rem 0;
    margin-top: 6rem;

    background-image: linear-gradient(rgba(0, 0, 0, 0.707), rgba(0, 0, 0, 0.707)), url('../../assets/orange-big.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.hero-box {
    padding: 2rem 3rem 3rem 3rem;
    background-color: rgba(255, 255, 255, 0.812);
    width: 40%;
    border-radius: 2rem;
}

.container {
    max-width: 114rem;
    margin: 0 auto;
}

.hero-box h1 {
    font-size: 4rem;
    color: #2d2a2a;
    font-weight: 500;
    line-height: 1.4;
}

.hero-box a {
    text-decoration: none;
    margin-top: 1.5rem;
    padding: 1rem 3rem;
    background-color: var(--color-secondary);
    color: #fff;
    display: inline-block;
    font-size: 1.4rem;
    font-weight: 500;
    text-transform: uppercase;
}

@media only screen and (max-width: 1200px) {

    .hero h1 {
        font-size: 3.8rem;
    }

    .container {
        padding: 0 2.3rem;
    }
}

@media only screen and (max-width: 1000px) {

    .hero-box {
        width: 50%;
    }

    .hero-box h1 {
        font-size: 3.5rem;
    }

    .hero-box a {
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 800px) {

    .hero-box h1 {
        font-size: 3.2rem;
    }
}

@media only screen and (max-width: 600px) {
    .hero {
        margin-top: 5.7rem;
    }

    .hero-box {
        margin: 0 auto;
        width: 90%;
    }

    .hero-box h1 {
        font-size: 3rem;
    }

    .hero-box a {
        font-size: 1.3rem;
    }
}

@media only screen and (max-width: 500px) {

    .hero {
        margin-top: 5.1rem;
    }

    .hero h1 {
        font-size: 2.7rem;
    }
}